Repository tkeiyama/thomathings: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest run --logHeapUsage, eslint --fix, dprint fmt --verbose

Fix typos
  things/updating-next-to-v13/thing.mdx
Due: dprint fmt --verbose

Update lint.yml
  .github/workflows/lint.yml
Due: none

Update thing.mdx
  things/updating-next-to-v13/thing.mdx
Due: dprint fmt --verbose

Drop a support for mdx files
  .lintstagedrc
  dprint.json
Due: none

Modified words on updateing-next-to-v13
  things/updating-next-to-v13/thing.mdx
Due: dprint fmt --verbose

created vercel.sh
  scripts/vercel.sh
Due: none

updated lockfile
  bun.lockb
Due: none

added the start script
  bun.lockb
  package.json
  vite.config.ts
Due: vitest run --logHeapUsage, eslint --fix, dprint fmt --verbose

formatted files
  app/root.tsx
Due: vitest run --logHeapUsage, eslint --fix, dprint fmt --verbose

update README
  README.md
Due: dprint fmt --verbose

Path conditions:
  vitest run --logHeapUsage: any of: *.{js,ts,jsx,tsx}
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  dprint fmt --verbose: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{md,mdx})
